<table class="table">
  <tr>
    <td>
      <lable>商品名</lable>
      <%= @item.name %>
    </td>
  </tr>
  <tr>
    <td>
      <lable>商品紹介</lable>
      <%= @item.introduction %>
    </td>
  </tr>
  <tr>
    <td>
      <lable>ジャンル</lable>
      <%= @item.genre.name %>
    </td>
  </tr>
  <tr>
    <td>
      <div class="price">
        <lable>税込価格</lable>
        <lable>(税抜価格)</lable>
      </div>
      <%= @item.price %>
    </td>
  </tr>
  <tr>
    <td>
      <%= link_to "編集する", edit_admin_item_path(@item.id) %>
    </td>
  </tr>
</table>
