<% total = 0 %>

  <div>
    <table>
      <tr>
        <td></td>
        <td><p>商品名</p></td>
        <td><p>単価(税込)</p></td>
        <td><p>数量</p></td>
        <td><p>小計</p></td>
        <td colspan="3"></td>
      </tr>
      <% @cart_items.each do |cart_item| %>
        <tr>
          <td></td>
          <td>
            <%= image_tag cart_item.item.image, size: "60x50",fallback: "no_image.jpg" %>
            <%= cart_item.item.name %>
          </td>
          <td><%= (cart_item.item.price*1.08).to_i %>円</td>
          <td><%= cart_item.amount %></td>
          <td><% subtotal = ((cart_item.item.price*cart_item.amount)*1.08).to_i %>
              <%= subtotal %>円</td>
          <td colspan="3"></td>
          <% total += subtotal %>
        </tr>
      <% end %>
    </table>
    <table>
      <tr>
        <td><p>送料</p></td>
        <td><%= label :postage, '800' %></td>
      </tr>
      <tr>
        <td><p>商品合計</p></td>
        <td><%= total %></td>
      </tr>
      <tr>
        <td><p>請求額</p></td>
        <%  total_payment = (total + 800 ).to_i %>
        <td><%= label :total_payment, total_payment %></td>
      </tr>
    </table>
  </div>

  <table>
    <tr>
      <td><p>支払方法</p></td>
      <td><%= @pay %></td>
    </tr>
    <tr>
      <td><p>お届け先</p></td>
      <td><%= @pos %><%= @ress %><%= @na %></td>
    </tr>
  </table>

<%= form_with model: @order, url: public_orders_new_path, method: :post do |f| %>
  <%= f.hidden_field :payment_method %>
  <%= f.hidden_field :postage %>
  <%= f.hidden_field :postal_code %>
  <%= f.hidden_field :order_address %>
  <%= f.hidden_field :name %>
  <%= f.hidden_field :total_payment %>
  <%= f.submit "注文を確定する" %>
<% end %>