<div class="nnnn">
  <h2>注文履歴詳細</h2>
</div>

<div class="nnnn">
  <div>
    <h3>注文情報</h3>
    <table>
    <tr>
      <td class="tyu-a">注文日</td>
      <td class="tyu-a"><%= @order.created_at.strftime('%Y/%m/%d') %></td>
    </tr>
    <tr>
      <td class="tyu-a">配送先</td>
      <td class="tyu-a">〒<%= @order.postal_code %><br><%= @order.order_address %><br><%= @order.name %></td>
    </tr>
    <tr>
      <td class="tyu-a">支払方法</td>
      <td class="tyu-a">
        <% if @order.payment_method == "credit_card" %>
          <p>クレジットカード</p>
        <% else @order.payment_method == "transfer" %>
          <p>銀行振込</p>
        <% end %>
      </td>
    </tr>
    </table>
  </div>
  <div class="tyo">
    <h3>請求情報</h3>
    <table>
      <tr>
        <td class="tyu-a">商品合計</td>
        <td class="tyu-a">
          <% total = 0 %>
          <% @oror.each do |oror| %>
            <% subtotal = ((oror.item.price*oror.amount)*1.08).to_i %>
            <% total += subtotal %>
          <% end %>
          <%= total %>
        </td>
      </tr>
      <tr>
        <td class="tyu-a">配送料</td>
        <td class="tyu-a">800</td>
      </tr>
      <tr>
        <td class="tyu-a">ご請求額</td>
        <td class="tyu-a"><%= @order.total_payment %></td>
      </tr>
    </table>
  </div>
</div>

<div class="nnnnn">
  <h3>注文内容</h3>
  <table>
    <tr>
      <td class="tyu-a">商品</td>
      <td class="tyu-a">単価(税込)</td>
      <td class="tyu-a">個数</td>
      <td class="tyu-a">小計</td>
      <td></td>
    </tr>
    <% @oror.each do |oror| %>
      <tr>
        <td class="tyu-a"><%= oror.item.name %></td>
        <td class="tyu-a"><%= (oror.item.price*1.08).to_i %></td>
        <td class="tyu-a"><%= oror.amount %></td>
        <td class="tyu-a">
          <% subtotal = ((oror.item.price*oror.amount)*1.08).to_i %>
          <%= subtotal %>
        </td>
        <td></td>
      </tr>
    <% end %>
  </table>
</div>