<h2>商品一覧</h2><h4>全<%= @count %>件</h4>
  <table>
    <% @items.each do |item| %>
      <tr>

        <th>
          <%= link_to public_item_path(item.id) do %>
            <%= item.image %>
          <% end %>
        </th>
        <th><%= item.name %></th>
        <th><%= item.price %></th>
      </tr>
    <% end %>
  </table>